BasedOnStyle: LLVM
AlignAfterOpenBracket: AlwaysBreak
BreakBeforeBraces: Attach
IndentWidth: 2
UseTab: Never
ColumnLimit: 0
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakConstructorInitializers: BeforeComma
Cpp11BracedListStyle: true
IndentCaseLabels: true
IndentWrappedFunctionNames: true
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
SortIncludes: true
SpaceAfterCStyleCast: false
SpaceBeforeCpp11BracedList: true
Standard: Cpp11
